.app {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    padding: 1em;
}
.continue {
    display: flex;
    justify-content: flex-end;
}
.back {
    display: flex;
    justify-content: space-between;
}